hr {
  width: 1000px;
}
.title-container {
  padding: .5rem;
  position: relative;
  text-align: center;
  color: white;
  opacity: 0.8;
}
.title-container .centered {
  display: flex;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title-container .centered-btn {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title-container .home-png {
  padding: .5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 20rem;
  width: 35rem;
}
.artists-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 800px;
  margin: 0 auto;
  text-align: center;
}
.artists-container img {
  padding: .5rem;
  height: 8rem;
  width: auto;
}
.artists-container .artist {
  width: 800px;
}
.artists-container .artist .artist-name {
  font-size: 1rem;
  color: black;
}
.artists-container .bio {
  padding: .5rem;
  font-size: .5rem;
}
